<div (click)="closeModel(optionPopUp)" class="close-contact-model z-[10000000000000000000000000] zero:hidden md:block absolute top-0 right-0 w-full h-full" *ngIf="optionContainer"></div>
<div (click)="closeModel(optionPopUpMobile)" class="close-contact-model z-[10000000000000000000000000] zero:block md:hidden absolute top-0 right-0 w-full h-full" *ngIf="optionContainer"></div>
<div class="chat-side-bar h-[100%] zero:w-[100vw] md:w-[336px] overflow-hidden transition-[width_360ms_ease-in-out]" [ngClass]="{'w-0': goToChat}">
    <div class="chat-side-header flex items-center zero:justify-between md:justify-start bg-[hsla(0,0%,100%,.98)] shadow-[0_1px_2px_rgba(0,0,0,.12)] zero:h-[63px] md:h-[64px]" >
        <a class="chat-header-option-container zero:hidden md:block cursor-pointer relative text-[rgba(0,0,0,0.56)] mr-[6px] ml-[9px]">
            <a (click)="openModel(optionPopUp)" class="header-button active:bg-[rgba(0,0,0,0.12)] rounded-[50px] hover:bg-[rgba(0,0,0,0.04)] flex w-[2.5rem] h-[2.5rem] justify-center cursor-pointer items-center">
                <div class="header-icon">
                    <i class="fa fa-bars"></i>
                </div>
            </a>
            <div #optionPopUp class="options-pop-up pop-up rounded-[4px] top-[44px] right-[-8px] hidden z-[10000000000000000000000001] bg-white min-w-[226px] absolute">
                <ul class="options-container flex flex-col">
                    <ng-container *ngFor="let navLink of navLinkText; let i = index">
                        <li class="nav-item text-[rgba(0,0,0,0.56)] cursor-pointer h-[48px]">
                            <a (mousedown)="openOptionModel(navLink.whichToOpen)" (click)="closeModel(optionPopUp)" class="nav-link flex h-full items-center hover:bg-[rgba(0,0,0,0.04)] hover:text-black pr-[20px] pl-[16px]">
                                <i class="nav-link-icon text-[0.75rem] pt-[1px] {{navLink.icon}}"></i>
                                <span class="nav-link-text flex-grow pr-[9px] mt-[-4px] text-[0.75rem] w-[1rem] h-[1rem]">{{navLink.text}}</span>
                            </a>
                        </li>
                        <div class="bg-[rgba(0,0,0,0.12)] h-[1px] mx-[16px]" *ngIf="i !== navLinkText.length - 1"></div>
                    </ng-container>
                </ul>
            </div>
        </a>
        <div class="header-text text-[15px] zero:pr-[13px] md:pl-[13px] font-bold text-[rgba(0,0,0,0.56)]">چت دیوار</div>
        <a class="chat-header-option-container pl-[8px] pb-[1px] zero:block md:hidden cursor-pointer relative text-[rgba(0,0,0,0.56)] mr-[6px] ml-[9px]">
          <a (click)="openModel(optionPopUpMobile)" [ngClass]="{'bg-[rgba(0,0,0,0.04)]': optionContainer}" class="header-button active:bg-[rgba(0,0,0,0.12)] rounded-[50px] hover:bg-[rgba(0,0,0,0.04)] flex w-[2.5rem] h-[2.5rem] justify-center cursor-pointer items-center">
            <div class="header-icon">
              <i class="fa fa-ellipsis-v"></i>
            </div>
          </a>
          <div #optionPopUpMobile class="options-pop-up pop-up rounded-[4px] top-[44px] left-[8px] hidden z-[10000000000000000000000001] bg-white min-w-[226px] absolute">
            <ul class="options-container flex flex-col">
              <ng-container *ngFor="let navLink of navLinkText; let i = index">
                <li class="nav-item text-[rgba(0,0,0,0.56)] cursor-pointer h-[48px]">
                  <a (mousedown)="openOptionModel(navLink.whichToOpen)" (click)="closeModel(optionPopUpMobile)" class="nav-link flex h-full items-center hover:bg-[rgba(0,0,0,0.04)] hover:text-black pr-[20px] pl-[16px]">
                    <i class="nav-link-icon text-[0.75rem] pt-[1px] {{navLink.icon}}"></i>
                    <span class="nav-link-text flex-grow pr-[9px] mt-[-4px] text-[0.75rem] w-[1rem] h-[1rem]">{{navLink.text}}</span>
                  </a>
                </li>
                <div class="bg-[rgba(0,0,0,0.12)] h-[1px] mx-[16px]" *ngIf="i !== navLinkText.length - 1"></div>
              </ng-container>
            </ul>
          </div>
        </a>
    </div>
    <div class="chat-side-main h-[calc(100%_-_64px)] relative">
        <div class="hidden h-[calc(100%_+_64px)] top-[-64px] absolute bg-white model transform translate-x-full w-full" #removeChats><app-remove-chats (closeEvent)="closeModel(removeChats)" class="h-full block" ></app-remove-chats></div>
        <div class="hidden h-[calc(100%_+_64px)] top-[-64px] absolute bg-white model transform translate-x-full w-full" #settings><app-settings class="h-full block" (closeEvent)="closeModel(settings)"></app-settings></div>
        <div class="hidden h-[calc(100%_+_64px)] top-[-64px] absolute bg-white model transform translate-x-full w-full" #whenCanAnswer><app-when-can-answer (closeEvent)="closeModel(whenCanAnswer)" class="h-full block"></app-when-can-answer></div>
        <div class="chat-side-main-mode zero:pr-[11px_!important] md:pr-[12px_!important] md:pl-[13px] p-[12px] mode-borders flex">
            <div class="bg-maker hover:bg-[rgba(0,0,0,0.02)] flex-grow">
                <a (click)="changeChatMode('all')" [ngClass]="{'active': mode === 'all'}" class="mode-button h-full flex justify-center cursor-pointer items-center border-solid border-[1px] flex-grow rounded-tl-[0] border-l-0 rounded-bl-[0] rounded-[3px] text-[rgba(0,0,0,0.56)] border-[rgba(0,0,0,0.26)] min-h-[38px] min-w-[64px] px-[1rem] all">همهٔ چت‌ها</a>
            </div>
            <div class="bg-maker hover:bg-[rgba(0,0,0,0.02)] flex-grow">
                <a (click)="changeChatMode('notRead')" [ngClass]="{'active': mode === 'notRead'}" class="mode-button cursor-pointer items-center border-solid border-[1px] rounded-tr-[0] rounded-br-[0] border-r-[rgba(166,38,38,.56)] flex-grow rounded-[3px] flex justify-center text-[rgba(0,0,0,0.56)] border-[rgba(0,0,0,0.26)] min-h-[38px] min-w-[64px] px-[1rem] not-read">خوانده نشده (۱)</a>
            </div>
        </div>
        <ul class="chat-side-main-chats overflow-y-scroll h-[calc(100%_-_62px)] border-l border-l-[rgba(0, 0, 0, 0.12)]">
            <li class="chat-item cursor-pointer bg-[rgba(240,250,255,.24)] hover:bg-[#f0faff] postci w-full">
               <a routerLink="/chat/postchi" class="nav-link md:p-[16px_16px_0] zero:p-[16px_15px_0] flex w-full h-full items-center">
                    <div class="flex mb-[15px]">
                        <div class="divar-icon">
                            <img src="assets/images/postci-image.svg" alt="divar-image">
                        </div>
                        <div class="divar-text text-[.875rem] pr-[8px] leading-[2]">
                            <span class="mt-[7px] flex">پستچی دیوار</span>
                        </div>
                    </div>
                </a>
                <div class="separator h-[1px] pl-[17px] pr-[16px] w-full">
                    <div class="bg-[rgba(0,0,0,.12)] h-full w-full"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
