.header-button {
    transition: background-color 360ms ease,transform 360ms ease,box-shadow 400ms ease,border-color 360ms ease;
}


.mode-borders {
    border-left: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
}

.mode-button.active {
    background-color: rgba(166,38,38,.04);
    color: #a62626;
    border-color: rgba(166,38,38,.56);
}

.chat-side-main-chats::-webkit-scrollbar {
    display: none;
}


.pop-up{
    box-shadow: 
    0 1px 6px 0 rgba(0,0,0,.08),
    0 -8px 32px -4px rgba(0,0,0,.04), 
    0 16px 24px -6px rgba(0,0,0,.04);
}

.nav-link{
    transition: color .36s ease,background-color .36s ease,box-shadow .36s ease,border-color .36s ease,transform .36s ease;
}