<div class="my-posts-main w-full" >
  <div class="my-posts-container w-full flex justify-center">
    <div class="my-post-place-holder flex flex-col items-center pt-[1rem] pr-[1rem] w-[232px]">
      <div class="place-holder-img">
        <img src="assets/images/notes-placeHolder.svg" alt="my-post-place-holder-image">
      </div>
      <div class="place-holder-text text-center text-[rgba(0,0,0,0.56)] text-[0.75rem] mt-[8px] leading-[2]">
        برای یادداشت گذاشتن روی آگهی‌ها می‌توانید از دکمهٔٔ
        <i class="fa fa-comment"></i>
        در صفحهٔ آگهی استفاده کنید.
      </div>
    </div>
  </div>
</div>
