@media screen and (min-width: 320px) {
  .custom-container {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
    flex-shrink: 0;
  }
}


@media screen and (min-width: 960px) {
  .custom-container {
    flex-grow: 0;
    max-width: 65.9%;
    flex-basis: 65.9%;
    flex-shrink: 0;
  }
  .custom-container {
    margin-right: 8.55%;
  }
}

@media screen and (min-width: 1024px) {
  .custom-container {
    flex-grow: 0;
    max-width: 58.15%;
    flex-basis: 58.15%;
    flex-shrink: 0;
  }
  .custom-container {
    margin-right: 16.666667%;
  }
}
@media (min-width: 1366px){
  .custom-container {
    flex-grow: 0;
    max-width: 43.8%;
    flex-basis: 50%;
    flex-shrink: 0;
    margin-right: 28.1%;
  }
}

.custom-container {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.submit-button {
  transition: color .36s ease,background-color .36s ease,box-shadow .36s ease,border-color .36s ease,transform .36s ease,-webkit-transform .36s ease;
  box-shadow: 0 8px 12px -6px rgba(166,38,38,.32), 0 12px 16px 0 rgba(166,38,38,.14), 0 1px 32px 0 rgba(166,38,38,.12);
}

.submit-button:hover {
  box-shadow: 0 2px 6px -1px rgba(166,38,38,.56), 0 4px 10px 0 rgba(166,38,38,.14), 0 0 12px 0 rgba(166,38,38,.12);
}
.form-file-container:hover{
  .dashed-img-svg, .file-icon-svg {
    fill: rgba(0,0,0,.48);
  }
}
.form-file-container{
  .dashed-img-svg, .file-icon-svg {
    transition: fill 360ms ease;
  }
}
.form-control {
  transition: border-color 240ms ease;
}
.options-container {
  transition: opacity 240ms ease;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.08), 0 -8px 32px -4px rgba(0,0,0,.04), 0 16px 24px -6px rgba(0,0,0,.04);
  .option{
    padding: 10px 16px 9px;
  }
}
.form-file-container:hover{
  .dashed-img-svg, .file-icon-svg {
    fill: rgba(0,0,0,.48);
  }
}
.form-file-container{
  .dashed-img-svg, .file-icon-svg {
    transition: fill 360ms ease;
  }
}

.model-transition {
  transition: opacity 360ms ease;
}

.form-checkInput{
  border: 1px solid rgba(0,0,0,.24);
  transition: border-color 90ms cubic-bezier(0,0,.2,1),background-color 90ms cubic-bezier(0,0,.2,1);
}

svg polyline{
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 48;
}

svg{
  transition: 0.4s ease;
}
.changer:not(.not-allowed):hover {
  .box-shadow {
    transform: scale(2);
  }
}

.changer:not(.not-allowed):active {
  .box-shadow-red {
    transform: scale(2);
  }
}

.radio-button-link:hover {
  .box-shadow, .box-shadow-red {
    transform: scale(2);
  }
}

.radio-button-container {
  border: 1px solid rgba(0, 0, 0, 0.24);
}

.checked-circle {
  transition: transform 0.15s cubic-bezier(.4,0,.2,1);
}

.radio-button-link{
  .box-shadow-red, .box-shadow {
    transition: transform 0.15s cubic-bezier(.4,0,.2,1);
    width: 100%;
    transform: scale(0);
    height: 100%;
  }
}

.changer {
  .changer-circle {
    transition: transform .15s cubic-bezier(.4,0,.2,1);
  }
  .changer-circle.activated {
    transform: translateX(calc(-100% + 2px));
  }
  transition: background-color .15s cubic-bezier(.4,0,.2,1);
  .box-shadow-red, .box-shadow {
    transition: transform 0.15s cubic-bezier(.4,0,.2,1);
    width: 100%;
    height: 100%;
  }
}
