<nav class="all-navbar navbar h-[4rem] px-[1rem] fixed top-0 bg-white w-[100%] z-[10000]" *ngIf="this.navbarService.showNavbar" [ngClass]="{'mr-[-8px]': navbarService.marginRight, 'hide': !(navbarService.shouldActivated === 'all'), 'show': navbarService.shouldActivated === 'all'}">
  <div class="navbar-container h-[100%] px-[1rem] items-center justify-between py-[0.3rem] zero:hidden md-c:flex max-w-[90rem] mx-[auto]">
    <div class="navbar-icon-nav-right flex items-center">
      <div class="navbar-icon h-[48px] ml-[8px]">
        <img class="w-[100%] h-[100%]" src="assets/images/divar.svg" alt="divar-navbar-icon">
      </div>
      <div class="separator mx-[8px] h-[24px]"></div>
      <a class="nav-item focus:text-black focus:bg-[rgba(0,0,0,0.12)] cursor-pointer rounded-[4px] text-[rgba(0,0,0,0.56)] hover:bg-[rgba(0,0,0,0.04)] hover:text-black  items-center justify-center py-[0.5rem] flex px-[1.065rem] ml-[1rem] mr-[0.6rem]">
        <i class="fa fa-map-marker ml-[15px] mr-[-7px]"></i>
        <span class="flex whitespace-nowrap text-[0.875rem]">انتخاب شهر</span>
      </a>
    </div>
    <ul class="nav-section flex">
      <a routerLink="" class="nav-item focus:text-black focus:bg-[rgba(0,0,0,0.12)]  rounded-[4px] text-[rgba(0,0,0,0.56)] hover:bg-[rgba(0,0,0,0.04)] hover:text-black  items-center justify-center px-[1rem] mr-[0.5rem] py-[0.5rem] flex">
        <div class="nav-icon ml-[0.5rem]">
          <i class="fa fa-user-o"></i>
        </div>
        <span class="flex whitespace-nowrap text-[0.75rem]">دیوار من</span>
      </a>
      <a routerLink="" class="nav-item focus:text-black focus:bg-[rgba(0,0,0,0.12)]  rounded-[4px] text-[rgba(0,0,0,0.56)] hover:bg-[rgba(0,0,0,0.04)] hover:text-black  items-center justify-center px-[1rem] mr-[0.5rem] py-[0.5rem] flex">
        <div class="nav-icon ml-[0.5rem]">
          <i class="fa fa-comment-o"></i>
        </div>
        <span class="flex whitespace-nowrap text-[0.75rem]">چت</span>
      </a>
      <a routerLink="/b/support-users/fa" class="nav-item focus:text-black focus:bg-[rgba(0,0,0,0.12)]  rounded-[4px] text-[rgba(0,0,0,0.56)] hover:bg-[rgba(0,0,0,0.04)] hover:text-black  items-center justify-center py-[0.5rem] flex px-[1rem] mr-[1rem]">
        <span class="flex whitespace-nowrap text-[0.75rem]">پشتیبانی</span>
      </a>
    </ul>
  </div>
  <div class="mobile-navbar h-[100%] md-c:hidden zero:flex items-center">
    <div class="navbar-information flex items-center">
      <a routerLink="{{globalValue.getPreviousRoute()}}" class="justify-center ml-[0.6rem] rounded-[50px] hover:bg-[rgba(0,0,0,0.04)] text-[#707070] mr-[-10px] w-[2.5rem] h-[2.5rem] items-center flex"><i class="fa fa-arrow-right"></i></a>
      <div class="text text-[0.875rem] font-[700]">ثبت اکهی</div>
    </div>
  </div>
</nav>
