@media (min-width: 320px) {
  .major-item{
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
    flex-shrink: 0;
  }
}
@media (min-width: 768px) {
  .major-item {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
    flex-shrink: 0;
  }
}
@media (min-width: 960px){
  .major-item {
    flex-grow: 0;
    max-width: 31.6%;
    flex-basis: 31.6%;
    flex-shrink: 0;
  }
}
