.search-container{
    .search{
      .search-input:focus {
        box-shadow: inset 0 0 0 1px rgba(166,38,38,.56);
      }
      .search-input{
        transition: color .15s ease,border-color .15s ease,box-shadow .15s ease;
      }
      .search-input::placeholder{
        color: rgba(0,0,0,.56);
      }
  
    }
}