<div class="main-bout mt-[64px]">
  <div class="main-about-container flex">
    <div class="text-container">
      <p class="text-container-title text-[2rem] font-[700] leading-[1.5]">دربارهٔ دیوار</p>
      <p class="text-container-description py-[1rem] text-[1rem] font-[400] leading-[2] text-[rgba(0,0,0,.56)] whitespace-pre-line break-words">دیوار از ۲۱ تیر ۱۳۹۱ با هدف خرید و فروش بدون واسطهٔ آنلاین آغاز به کار کرد. امتیاز برند دیوار توسط شرکت «آگه پردازان هوشمند» (سهامی خاص) در تمامی مراجع قانونی ثبت شده است.</p>
    </div>
    <div class="image-container max-w-[460px] mr-[9px] mt-[-1px]">
      <img class="imac" src="../../../../../assets/images/imac.png" alt="imac" >
    </div>
  </div>
</div>
