.main-bout {
  .main-about-container{
    .text-container {
      @media (min-width: 768px){
        margin-right: 16.6666666667%;
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
      }
      @media (min-width: 960px){
        margin-right: 8.3333333333%;
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%;
      }
    }
    .image-container {
      .img {
        flex-grow: 1 ;
        max-width: 460px ;
        margin: 0 auto 0 8.3333333333%;

      }
    }
  }
}
