.model {
    transition: opacity .5s ease-in-out;
    .model-body{
        height: calc(100vh - 16rem);
    }
    .nav {
        transition: background-color .3s ease-in-out, color .3s ease-in-out;
    }
    .nav.button-active {
      color: #A62626 !important;
    }
    .nav.button-active:hover {
      background-color: rgba(166, 38, 38, 0.04) !important;
    }
    .indicator-line{
        transition:  transform .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .indicator-line.transform-translateX--100 {
        transform: translateX(-100%);
    }
    .indicator-line.transform-translateX-100 {
        transform: translateX(100%);
    }
    .nav-content {
        list-style: lower-roman;
    }
    .text-bold {
        font-size: 1.1rem;
        font-weight: 700;
    }
    .arrow {
      transition: background-color 360ms ease,transform 360ms ease,box-shadow 400ms ease,border-color 360ms ease;
    }

  .slider-main.animated {
    transition: transform 0.5s ease-in-out;
  }
}
