<div class="chat-window-container h-full w-full">
    <div [ngClass]="{'z-[-1]': globalValue.modelOpen}" class="chat-mode-header relative w-full justify-between flex items-center bg-[hsla(0,0%,100%,.98)] shadow-[0_1px_2px_rgba(0,0,0,.12)] h-[64px]">
        <div class="divider bg-white w-[3px] absolute right-[-1px] h-full">
            <div *ngIf="chat !== undefined" class="divider-body w-[1px] bg-[rgb(0_0_0_/_12%)] my-[1rem] h-[calc(100%_-_2rem)]"></div>
        </div>
        <ng-container *ngIf="chat !== undefined">
            <div (click)="closeModel(optionPopUp)" class="close-contact-model z-[10000000000000000000000000] absolute top-0 right-0 w-full h-full" *ngIf="optionContainer"></div>
            <div class="flex items-center">
              <a routerLink="/chat" class="header-button active:bg-[rgba(0,0,0,0.12)] hover:text-black mr-[6px] rounded-[50px] hover:bg-[rgba(0,0,0,0.04)] flex w-[2.5rem] h-[2.5rem] justify-center cursor-pointer items-center">
                <div class="header-icon text-[rgba(0,0,0,0.56)] text-[0.95rem]">
                  <i class="fa fa-arrow-right"></i>
                </div>
              </a>
              <div class="header-text text-[0.825rem] mr-[1rem] font-bold text-[rgba(0,0,0,0.56)]">پستچی دیوار</div>
            </div>
            <div class="chat-header-option-container cursor-pointer relative text-[rgba(0,0,0,0.56)] ml-[1rem] mt-[0.5px]">
                <a (click)="openModel(optionPopUp)" class="header-button active:bg-[rgba(0,0,0,0.12)] rounded-[50px] hover:bg-[rgba(0,0,0,0.04)] flex w-[2.5rem] h-[2.5rem] justify-center cursor-pointer items-center">
                    <div class="header-icon">
                        <i class="fa fa-ellipsis-v"></i>
                    </div>
                </a>
                <div #optionPopUp class="options-pop-up pop-up rounded-[4px] top-[44px] left-0 hidden z-[10000000000000000000000001] bg-white min-w-[224px] absolute">
                    <ul class="options-container flex flex-col">
                        <li class="nav-item text-[rgba(0,0,0,0.56)] cursor-pointer h-[48px] pr-[20px] pl-[16px] ">
                            <a class="nav-link flex h-full items-center hover:text-black">
                                <i class="nav-link-icon text-[0.75rem] pt-[1px] fa fa-life-ring"></i>
                                <span class="nav-link-text flex-grow pr-[9px] mt-[-4px] text-[0.9rem] w-[1rem] h-[1rem]">پشتیبانی و قوانین</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="choose-chat flex justify-center items-center h-[calc(100%_-_64px)]" *ngIf="chat === undefined">
        <div class="title flex items-center text-[0.75rem] leading-[2] self-center text-[rgba(0,0,0,0.56)] text-center select-none">برای شروع چت یک مکالمه را انتخاب کنید.</div>
    </div>
    <div class="chat-window h-[calc(100%_-_64px)]" *ngIf="chat !== undefined">
      <div class="postchi-divar p-[16px]">
        <div class="wrapper p-[16px] bg-[rgba(230,80,0,.12)] text-[0.75rem] leading-[2]">
          این مکالمه مربوط به «پستچی دیوار» است.
          <br>
          در فهرست مکالمه‌های شما در چت، پستچی دیوار در بالای فهرست و با رنگی متفاوت قرار گرفته‌است.
        </div>
      </div>
    </div>
</div>
