/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind screens;
@tailwind utilities;
.router > *{
    width: 100%;
    display: flex;
}


.user-drop-down {
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.08), 0 -8px 32px -4px rgba(0,0,0,.04), 0 16px 24px -6px rgba(0,0,0,.04);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
