<div class="contact-container mt-[5.3rem]">
  <div class="contact-title text-center mb-[0.7rem]">ارتباط با ما</div>
  <div class="contact-description text-center leading-[2] text-[rgba(0,0,0,0.56)] mb-[2rem]">ساعت پاسخگویی مرکز تماس: ۶ صبح تا ۱۲ شب<br>
    همچنین می‌توانید در تمام ساعات شبانه روز و ایام هفته، با ارسال ایمیل با ما در ارتباط باشید.</div>
  <div class="contact-option-container flex flex-wrap justify-center mb-[1.5rem] zero:gap-[0] l-c:gap-[8.1rem] l:gap-[10.1rem] xxl:gap-[12.4rem]">
    <div class="contact-option-item flex flex-col items-center pb-[2rem] px-[0.5rem]" *ngFor="let optionItem of optionList">
      <div class="option-icon mb-[1rem] {{optionItem.class}}">
        <img src="{{optionItem.image}}" alt="option-item-image">
      </div>
      <div class="option-description mb-[1rem] text-[rgba(0,0,0,0.56)]">{{optionItem.description}}</div>
      <a *ngIf="optionItem.isLink" class="contact-button contact-option-button cursor-pointer h-[2rem] mt-[2px] px-[0.75rem] min-w-[4rem] rounded-[0.25rem] text-[#A62626] text-[0.875rem] leading-[1.5714285714] items-center flex hover:bg-[rgba(166,38,38,0.04)] link-option" routerLink="{{optionItem.link}}">{{optionItem.linkText}}</a>
      <a *ngIf="!optionItem.isLink" (click)="openModel(contactModel)" class="contact-button contact-option-button cursor-pointer h-[2rem] mt-[2px] px-[0.75rem] min-w-[4rem] rounded-[0.25rem] text-[#A62626] text-[0.875rem] leading-[1.5714285714] items-center flex hover:border-[#A62626] hover:bg-[rgba(166,38,38,0.04)] dialog-option">{{optionItem.linkText}}</a>
    </div>
  </div>
</div>
<div #contactModel class="contact-model z-[100000000000000000000000000000] hidden fixed top-0 right-0 w-full h-full grid">
  <div (click)="closeModel(contactModel)" class="close-contact-model absolute top-0 right-0 w-full h-full z-[100000000000000000000000000001] bg-[rgba(0,0,0,0.56)]"></div>
  <div class="contact-model-content fixed z-[100000000000000000000000000002] max-w-[407px] max-h-[70vh] w-[100%] rounded-[0.25rem] bg-white self-center justify-self-center">
    <div class="close-button-container flex p-[1rem] pb-0">
      <a (click)="closeModel(contactModel)" class="close-button active:bg-[rgba(0,0,0,0.12)] rounded-[50px] hover:bg-[rgba(0,0,0,0.04)] flex w-[2.5rem] h-[2.5rem] justify-center cursor-pointer items-center">
        <i class="link-icon w-[1.25rem] h-[1.25rem]">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" class="w-full h-full" fill="#707070"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.3945 12.0002L18.3435 7.05025C18.7345 6.66025 18.7345 6.02725 18.3435 5.63625C17.9535 5.24625 17.3205 5.24625 16.9295 5.63625L11.9805 10.5862L7.03049 5.63625C6.63949 5.24625 6.00649 5.24625 5.61649 5.63625C5.22549 6.02725 5.22549 6.66025 5.61649 7.05025L10.5665 12.0002L5.61649 16.9502C5.22549 17.3403 5.22549 17.9733 5.61649 18.3643C5.81149 18.5592 6.06749 18.6573 6.32349 18.6573C6.57949 18.6573 6.83449 18.5592 7.03049 18.3643L11.9805 13.4143L16.9295 18.3643C17.1245 18.5592 17.3805 18.6573 17.6365 18.6573C17.8925 18.6573 18.1485 18.5592 18.3435 18.3643C18.7345 17.9733 18.7345 17.3403 18.3435 16.9502L13.3945 12.0002Z"></path></svg>
        </i>
      </a>
    </div>
    <div class="content-main p-[2rem] pb-[1.5rem] pt-0">
      <div class="model-content-description text-center leading-[2]">
        برای ارتباط با پشتیبانی می‌توانید از ساعت 6 صبح تا 12 شب با شمارۀ تماس بگیرید.
      </div>
      <a class="contact-button contact-option-button justify-center cursor-pointer mt-[2rem] h-[2rem] px-[0.75rem] rounded-[0.25rem] text-[#A62626] text-[0.875rem] leading-[1.5714285714] items-center flex hover:border-[#A62626] hover:bg-[rgba(166,38,38,0.04)]" href="tel:09109489971">تماس</a>
    </div>
  </div>
</div>
<app-major-support></app-major-support>
<app-footer></app-footer>
