<div class="about-job flex l-c:max-w-[49%] mx-auto pb-[3.05rem] mt-[72px]">
  <div class="about-job-container">
    <div class="job-title mb-[7px]">
      <p class="title text-[1.5rem] text-center leading-[2]">فرصت‌های شغلی</p>
    </div>
    <div class="job-description text-[rgba(0,0,0,.56)] text-[1rem] text-center mb-[2rem] leading-[2] pt-[0.2rem] min-h-[3rem] whitespace-normal">
      اینجا دیوار است؛ جایی برای رشد، یادگیری و خلق ایده‌های جدید. اینجا در کنار هم برای چالش‌ها راه‌حل پیدا می‌کنیم، تجربه کسب می‌کنیم و بر سبک زندگی میلیون‌ها نفر تاثیر‌گذاریم. برای پیوستن به دیوار، می‌توانید موقعیت شغلی متناسب با توانمندی‌های خود را در این صفحه پیدا کرده و برای همکاری اقدام کنید.
    </div>
    <div class="cooperation-end flex justify-center">
      <div><a href="https://careers.divar.ir" class="learn-more px-[1rem] mt-[3px] min-w-[6rem] flex h-[2.4rem] items-center text-[rgb(166,38,38)] rounded-[4px] hover:bg-[rgba(166,38,38,.04)]"><span class="mt-[-2px]">همهٔ فرصت‌های شغلی</span></a></div>
    </div>
  </div>
</div>
<div class="divider bg-[rgba(0,0,0,0.12)] h-[1px] l-c:w-[85%] m-[auto] mt-[4px]"></div>
